@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-fundo: #205375;
    --cor-destaque: #efefef;
    --cor-texto-1: #f66b0e;
    --cor-texto-2: #112b3c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--cor-texto-1);
}

body {
	background-color: var(--cor-fundo);
	display: flex;
	flex-wrap: wrap;          
	flex: 1 1 100vw;
}

header, nav, main, section, footer {
	background: var(--cor-fundo);
	display: flex;
}

header {
	flex: 1 1 100vw;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #205375;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: background-color 0.3s;
}


header #logo {
	display: flex;
	flex: 0 1 200px;
	background: var(--cor-fundo);
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#openMenu, #closeMenu {
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;
}

nav {
	justify-content: flex-end;
	align-items: center;
	flex: 1 1 200px;
}

nav a {
	margin: 0 3%;
	font-size: 20px;
}

main, section {
	padding-top: 80px;
	flex: 20 1 500px;
	flex-direction: column;
	background-color: var(--cor-texto-2);
}

section {
	column-count: 3; /* Número de colunas desejadas */
	column-gap: 10px; /* Espaço entre as colunas */
}
figure {
	margin: 0;
}
img {
	width: 100%; /* Ajusta a imagem para ocupar a largura da coluna */
	display: block; /* Remove o espaço abaixo da imagem */
}

footer {
	flex: 1 1 100vw;
}

a {
	text-decoration: none;
	color: inherit;
}

@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		display: block;
	}

	#openMenu {
		margin-left: auto;
	}

	#closeMenu {
		position: fixed;
		right: 15px;
		top: 15px;
	}

	nav {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.8);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}

	nav a {
		margin: 3%;
	}
}